/* Write your code here: */
body h1,h2{
    color : blueviolet;
    color : blueviolet
}
.box> p{
    color:firebrick;
}
.list li{
    color : blue ;
}
.box li.done{
    color : seagreen
}
ul p.done{
    font-size: 0.5rem;
}